<div class="container-fluid p-0">
  <div class="position-relative">
    <img
      src="https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
      alt="main opening screen, a guy holding a torch"
      class="img-fluid main-screen"
    />
    <div class="overlay">
      <div class="container">
        <h1 class="text-white display-4">
          The Chronicles of Eldoria: Quest of the Lost Realm
        </h1>
        <p class="text-white lead">
          "You find yourself standing at the entrance of an ancient and
          mysterious forest. The whispers of adventure and hidden treasures have
          drawn you here. Legends speak of a legendary artifact hidden deep
          within the heart of the forest, said to possess unimaginable power. As
          you step forward, the dense foliage envelops you, casting an eerie
          shadow. The path ahead diverges into two choices: a narrow, winding
          trail leading deeper into the forest, or a hidden cave entrance tucked
          behind a waterfall. The trail beckons with its mystery, promising a
          journey filled with thrilling encounters and unforeseen challenges.
          The cave, hidden and concealed, whispers secrets of hidden chambers
          and ancient puzzles. Which path will you choose? Will you venture into
          the depths of the forest or explore the hidden cave? Your destiny
          awaits as you make your first critical decision."
        </p>
        <ul class="list-unstyled">
          <li>
            <a href="/create-character" class="new-character"
              >Create a New Character</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
